<h1>ODDS</h1>

<form id='newOddsForm' ng-submit="addOdds()">
  <label>Add Title</label>
  <input type='text' ng-model='oddsForm.title'/>
  <select ng-model='oddsForm.home_team_id' ng-options='team.id as team.name for team in teams'>
    <option value=''>SET HOME TEAM</option>
  </select>

  <select ng-model='oddsForm.away_team_id' ng-options='team.id as team.name for team in teams'>
    <option value=''>SET AWAY TEAM</option>
  </select>
	<label>Add Home Line</label>
	<input type='text' ng-model='oddsForm.home_line'/>
	<label>Add Away Line</label>
	<input type='text' ng-model='oddsForm.away_line'/>
	<input type='submit' value='Sumbit Game'>
</form>


<form id='new-wager-form' ng-submit="addTeam()">
  <label>Add Team Name</label>
  <input type='text' ng-model='teamFormData.name'/>
  <input type='submit' value='Sumbit Team'>
</form>




  <div class='wager-wrapper' ng-repeat='wager in wagers'>
    <h3 class='wager-title'>{{wager.title}}</h3>
    <button class='wager-button' ng-class="{'selected': wager.selected=='away'}"ng-click='selectWager(wager, "away")'>{{wager.away_team.name}} {{wager.away_line}}</button>
    <button class='wager-button' ng-class="{'selected': wager.selected=='home'}" ng-click='selectWager(wager, "home")'>{{wager.home_team.name}} {{wager.home_line}}</button>




  </div>